    *{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    
    } 

    body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
 }
    form{
    display: flex;
    flex-direction: column;
    border: 3px solid black;
    border-radius: 30px;
    padding: 20px;
    }
    
    input{
    margin: 10px 0;
    padding: 10px;
    border-color: black;
    border-radius: 30px; 
    }

    button{
    padding: 10px;
    border: unset;
    background-color: #05b0ff;
    color: white;
    cursor: pointer;
    border-radius: 30px; 
    }

    a{
    color:#2093ff;
    font-weight: bold;
    text-decoration: none;
    }
    
    p{
    margin: 10px 0;
    text-align: center;
    }
    .p{
        margin: 20px 0;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 30px;
    }
    .massage{
        border: 2px solid #ff6161;
        border-radius: 3px;
        padding: 10px;
        text-align: center;
        font-weight: bold;
    }
    .profile{
        display: flex;
        /* align-items: center;
        justify-content: center; */
        border: 3px solid black;
    border-radius: 30px;
    padding: 20px;
    }